
/**
    Theme colors
*/
.has-orange-color {
  color: #FA7F16;
}

.has-orange-background-color {
  background-color: #FA7F16;
}

.has-violet-color {
  color: #5e219e;
}

.has-violet-background-color {
  background-color: #5e219e;
}

.has-violet-dark-color {
  color: #43187E;
}

.has-violet-dark-background-color {
  background-color: #43187E;
}